<div class="rounded-10 form-group panel panel-default">

    <div class="panel-heading rounded-10 rounded-no-bottom">
      <h2>
        {{pageTitle}}
      </h2>
    </div>
    <tabs-comp (selected)="setPage($event.selectedTab)">
        <div class="panel-body ">
          <form [formGroup]="dealForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <!-- STEP 1     -->
            <tab-comp tabText="Step 1" selected="true">
                <div tab-content>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   placeholder="title"
                                   formControlName="title">
                            <alert type="warning"
                                   *ngIf="dealForm.get('title').hasError('required') &&
                                       dealForm.get('title').touched">
                                Title is required
                            </alert>
                            <alert type="warning"
                                   *ngIf="dealForm.get('title').hasError('minlength') &&
                                       dealForm.get('title').touched">
                                Minimum of 2 characters
                            </alert>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Content</label>
                        <div class="col-sm-10">
                            <textarea
                                class="form-control content"
                                placeholder="content"
                                formControlName="content"></textarea>
                            <alert type="warning"
                                   *ngIf="dealForm.get('content').hasError('required') &&
                                       dealForm.get('content').touched">
                                Content is required
                            </alert>
                            <alert type="warning"
                                   *ngIf="dealForm.get('content').hasError('minlength') &&
                                       dealForm.get('content').touched">
                                Minimum of 2 characters
                            </alert>
                        </div>
                    </div>
                </div>
            </tab-comp>
            <!-- STEP 2 -->
            <tab-comp tabText="Step 2" selected="true">
                <div tab-content>
                    <div class="form-group">
                        <label for="link" class="col-sm-2 control-label">Link</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   placeholder="link"
                                   formControlName="link">
                            <alert type="warning"
                                  *ngIf="dealForm.get('link').hasError('required') &&
                                      dealForm.get('link').touched">
                               Link is required
                            </alert>
                        </div>
                    </div>
                </div>
            </tab-comp>
          </form>
          <tab-comp tabText="Step 3" selected="true">
              <div tab-content>
                  <datepicker (activeDateChange)="activeDateChange()"
                      [(ngModel)]="deal.dateStart"
                      [minDate]="min_start_date"
                      [showWeeks]="true"></datepicker>
                  <datepicker (activeDateChange)="activeDateChange()"
                      [(ngModel)]="deal.dateEnd"
                      [(minDate)]="min_end_date"></datepicker>
              </div>
          </tab-comp>
        </div>
    </tabs-comp>

    <div class="panel-footer">
      <div class="pull-right">
        <button type="submit" (click)="onSubmit(dealForm.value)" class="btn btn-default">
          Submit
        </button>
        <button type="submit" [ngClass]="{'hidden': !isEdit }" (click)="remove($event)" class="btn btn-default">
            Remove
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
</div>
