<h2>{{pageTitle}}</h2>
<div id="start-date" 
    style="display:inline-block; min-height:290px;">
    <label for="start-date">Date start</label> 
    <datepicker 
        [(ngModel)]="startDate" 
        (ngModelChange)="onStartDateChange($event)"></datepicker>
</div>
<div id="start-date" 
    style="display:inline-block; min-height:290px;">
    <label for="end-date" for="description">Date end</label> 
    <datepicker 
        [(ngModel)]="endDate" 
        (ngModelChange)="onEndDateChange($event)"></datepicker>
</div>
<div class="form-group">
    <form [formGroup]="dealForm"  
      (ngSubmit)="onSubmit(dealForm.value)"  
      class="form-horizontal">

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">  
                <input type="text"
                       class="form-control"  
                       id="title"  
                       placeholder="title"  
                       [formControl]="dealForm.controls['title']">
            </div>
        </div>
        
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">  
                <input type="text"
                       class="form-control"  
                       id="description"  
                       placeholder="description"  
                       [formControl]="dealForm.controls['description']">
            </div>
        </div>
        
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Content</label> 
            <div class="col-sm-10">
                <textarea 
                    id="content"
                    class="form-control" 
                    placeholder="content"  
                    [formControl]="dealForm.controls['content']"></textarea>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{submitText}}</button>
        </div>  
    </form>
</div>
