<nav class="navbar row">
	<ul class="nav navbar-nav main-menu col-sm-8">
		<li class="nav-item"><a class="" href="#">LOGO</a></li>
		<li class="nav-item active"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
		<li class="nav-item"><a class="nav-link" (click)="set_filter('all')">All</a></li>
		<li class="nav-item"><a class="nav-link" (click)="set_filter('betting')">Betting</a></li>
		<li class="nav-item"><a class="nav-link" (click)="set_filter('casino')">Casino</a></li>
		<li class="nav-item"><a class="nav-link" (click)="set_filter('bingo')">Bingo</a></li>
	</ul>

	<div class="col-sm-4">
		<div class="pull-right">
			<a class="btn share-btn" [routerLink]="['/add-deal']">
				Share your deal
			</a>
		</div>
		<div class="pull-right">
			<a class="btn login-btn" (click)="show_login()">
				Register | Login
			</a>
		</div>
	</div>
</nav>
