<div class="row">
	<div class="col-sm-6">
		<div class="col-sm-8">© 2016 betcub* - All rights reseved</div>
		<div class="col-sm-4">pictos</div>
	</div>
	<div class="col-sm-6">
		<nav class="navbar navbar-light pull-right">
			<ul class="nav navbar-nav">
				<li class="nav-item"><a  class="nav-link" [routerLink]="['/feedback']">Feedback</a></li>
				<li class="nav-item"><a  class="nav-link" [routerLink]="['/about-us']">About us</a></li>
				<li class="nav-item"><a  class="nav-link" [routerLink]="['/privacy-policy']">Privacy policy</a></li>
				<li class="nav-item"><a  class="nav-link" [routerLink]="['/terms-and-conditions']">Terms & Conditions</a></li>
			</ul>
		</nav>
	</div>
</div>