:host {
  display: block;
  /*border: 1px solid black;*/
}

.side-element:not(:last-child) {
	margin-bottom: 2.1em;
}

.side-element h3 {
	padding: 0;
	margin: 0;
}

.side-signup-container {
	display: block;
	height: 300px;
	background-color: #A1C94E;
  	color: white;
  	border: 1px solid #99C04A;
}

.side-share-container {
	display: block;
	height: 45px;
	background-color: #59C5C7;
  	color: white;
  	border: 1px solid #37C1C4;
}

.side-carusel-container {
	display: block;
	height: 500px;
	background-color: #FEFFFF;
  	color: #BE1339;
  	border: 1px solid #BABFC8;
}

