:host {
  display: block;
  /*border: 1px solid black;*/
}

.side-element:not(:last-child) {
	margin-bottom: 1.8em;
}

.side-element h3 {

	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1.5em;
}

.side-signup-container {
	display: inlineblock;
	height: 300px;
	background-color: #A1C94E;
  	color: white;
  	border: 1px solid #99C04A;
  	min-width: auto;
}

.side-share-container {
	display: block;
	height: 45px;
	background-color: #59C5C7;
  	border: 1px solid #37C1C4;
}

.side-share-container span {
	display: inline-block;
	margin-left: auto;	
  	margin-right: auto;
  	font-size: 1.3em;
  	color: white;
  	text-align: center;
  	/*font-weight: 500;
  	letter-spacing: .1em;*/
}

.side-share-container span.glyphicon {
	font-weight: 300;
}


.side-share-container h3 {

}

.side-carusel-container {
	display: block;
	height: 500px;
	background-color: #FEFFFF;
  	color: #BE1339;
  	border: 1px solid #BABFC8;
}

