<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
            <p>
                <tabs-comp (selected)="switchContent($event)">
                    <tab-comp tabText="Login" selected="true" name="login">
                        <div tab-content>
                            <div class="form-goup" tab-content>
                                <form novalidate [formGroup]="login_user" (ngSubmit)="onSubmit()">
                                    <label for="name">Full name</label>
                                    <input type="text"
                                           name="name"
                                           class="form-control"
                                           placeholder="Your full name"
                                           formControlName='name'>
                                    <alert type="warning"
                                           class="error"
                                           *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                       Name is required
                                    </alert>
                                    <alert type="warning"
                                           class="error"
                                           *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
                                      Minimum of 2 characters
                                    </alert>
                                    <div formGroupName="account">
                                        <label for="email">Email address</label>
                                        <input type="email"
                                               name="email"
                                               class="form-control"
                                               placeholder="Your email address"
                                               formControlName="email">
                                        <alert type="warning"
                                               class="error"
                                               *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
                                            Email is required
                                        </alert>
                                    </div>
                                    <!-- <button class="btn btn-primary" type="submit" [disabled]="user.invalid">Sign up</button> -->
                                </form>
                            </div>
                        </div>
                    </tab-comp>
                    <tab-comp tabText="Register" name="register">
                        <div class="form-goup" tab-content>
                            <form novalidate [formGroup]="new_user" (ngSubmit)="onSubmit()">
                                <label for="name">Full name</label>
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Your full name"
                                       formControlName='name'>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                   Name is required
                                </alert>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
                                  Minimum of 2 characters
                                </alert>
                                <div formGroupName="account">
                                    <label for="email">Email address</label>
                                    <input type="email"
                                           name="email"
                                           class="form-control"
                                           placeholder="Your email address"
                                           formControlName="email">
                                    <alert type="warning"
                                           class="error"
                                           *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
                                        Email is required
                                    </alert>
                                    <label>Confirm address</label>
                                    <input type="email"
                                           name="confirm"
                                           class="form-control"
                                           placeholder="Confirm your email address"
                                           formControlName="confirm">
                                    <alert type="warning"
                                           class="error"
                                           *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
                                        Confirming email is required
                                    </alert>
                                </div>
                                <!-- <button class="btn btn-primary" type="submit" [disabled]="user.invalid">Sign up</button> -->
                            </form>
                        </div>
                    </tab-comp>
                    <tab-comp *ngIf="sharedService.loggedIn" tabText="User settings for {{USER.username}}" name="save">
                        <div class="form-goup" tab-content>
                            <form novalidate [formGroup]="logged_in_user" (ngSubmit)="onSubmit()">
                                <label for="name">Firstname: </label>
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Your full name"
                                       formControlName='name'>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                   Name is required
                                </alert>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
                                  Minimum of 2 characters
                                </alert>
                                <label for="name">Lastname: </label>
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Your full name"
                                       formControlName='name'>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                   Name is required
                                </alert>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
                                  Minimum of 2 characters
                                </alert>
                                <label for="name">Username: </label>
                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="Your full name"
                                       formControlName='name'>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('required') && user.get('name').touched">
                                   Name is required
                                </alert>
                                <alert type="warning"
                                       class="error"
                                       *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
                                  Minimum of 2 characters
                                </alert>
                                <div formGroupName="account">
                                    <label for="email">Email address</label>
                                    <input type="email"
                                           name="email"
                                           class="form-control"
                                           placeholder="Your email address"
                                           formControlName="email">
                                    <alert type="warning"
                                           class="error"
                                           *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
                                        Email is required
                                    </alert>
                                </div>
                                <!-- <button class="btn btn-primary" type="submit" [disabled]="user.invalid">Sign up</button> -->
                            </form>
                        </div>
                    </tab-comp>
                </tabs-comp>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="!formValid" (click)="submitCurrentForm()">{{formMapping[currentPage].submitText}}</button>
            <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
        </div>
    </div>
</div>
