html {
	height: 100%
}

body {
	min-height: 100%;
	background-color: #EAEBEC;
}

.img-circle {
	border-radius: 50%;
	display: inline-block;
}

.rounded-5{
	border-radius: 5px;
}

.rounded-10{
	border-radius: 10px;
}

.rounded-15{
	border-radius: 15px;
}

.inner-spine {
	max-width: 1185px;
}

.rounded-no-top {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}