:host {
  display: block;
  position: relative;
  border: 2px solid #D9DBDF;
  background-color: #FEFFFF;
  height: 185px;
}

.comment-button {
	font-size: 0.8em;
}

.deal-footer {
	display: block;
	position: relative;
	background-color: #F6F7F8;
	width: 100%;
	/*height: 28px;*/
	padding: 5px;
	padding-bottom: 3px;
	font-weight: 300;
}

img.user-mini {
	width: 25px;
	height: 25px;
}

img.deal-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80px;
	margin-top: 20px;
}

.btn.get-deal {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 0.8em;
	background-color: #A1C94E;
	color: white;
	font-size: 12px;
}

.btn.get-deal:hover,
.btn.get-deal:active
 {
 	background-color: #7F9F40;
}

.temperature {
	margin-top: 20px;
}

.temp-val {
	font-weight: 300;
	font-size: 2em;
	color: #BF2943;
	text-align: center;
}

.temp-up {
	
}

.temp-down {
	
}

.tmp-btn:first-child {
	margin-top: 10px;
}

.tmp-btn:not(:last-child) {
margin-bottom: 10px;

}

.temperature  .btn {
	margin-left: auto;
    margin-right: auto;
    display: block;	
}

.btn.temp-up {
	background-color: #C12E48;
	border: 0;
	width: 60%;
}

.btn.temp-down {
	background-color: #C7C8C9;
	border: 0;
		width: 60%;
}
